<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragment :: meta}"></div>

        <div th:replace="~{fragment :: styles}"></div>

        <title>レビュー編集</title>
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <div th:replace="~{fragment :: header}"></div>

            <main>
                <div class="container samuraitravel-container pb-5">
                    <div class="row justify-content-center">
                        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10">
                            <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/houses}">店舗一覧</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/houses/__${house.id}__}">店舗詳細</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">レビュー編集</li>
                                </ol>
                            </nav>

                            <h1 class="mb-2 text-center" th:text="${house.name}"></h1>

                            <form th:method="post" th:action="@{/houses/__${house.id}__/reviews/__${review.id}__/update}" th:object="${reviewEditForm}">
                                <div class="mb-3">
                                    <label class="form-label text-md-left fw-bold">評価</label>
                                    <div th:if="${#fields.hasErrors('rating')}" class="text-danger small mb-2" th:errors="*{rating}"></div>

                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="rating1" type="radio" value="1" th:field="*{rating}" th:checked="${reviewEditForm.rating == 1}">
                                            <label class="form-check-label" for="rating1">1</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="rating2" type="radio" value="2" th:field="*{rating}" th:checked="${reviewEditForm.rating == 2}">
                                            <label class="form-check-label" for="rating2">2</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="rating3" type="radio" value="3" th:field="*{rating}" th:checked="${reviewEditForm.rating == 3}">
                                            <label class="form-check-label" for="rating3">3</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="rating4" type="radio" value="4" th:field="*{rating}" th:checked="${reviewEditForm.rating == 4}">
                                            <label class="form-check-label" for="rating4">4</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="rating5" type="radio" value="5" th:field="*{rating}" th:checked="${reviewEditForm.rating == 5}">
                                            <label class="form-check-label" for="rating5">5</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="content" class="form-label text-md-left fw-bold">感想</label>
                                    <div th:if="${#fields.hasErrors('content')}" class="text-danger small mb-2" th:errors="*{content}"></div>

                                    <div>
                                        <textarea class="form-control" cols="30" rows="5" th:field="*{content}"></textarea>
                                    </div>
                                </div>

                                <div class="form-group d-flex justify-content-center mb-4">
                                    <button type="submit" class="btn text-white shadow-sm samuraitravel-btn">レビューを更新する</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>

            <div th:replace="~{fragment :: footer}"></div>
        </div>

        <div th:replace="~{fragment :: scripts}"></div>
    </body>
</html>